<div class="container mt-5">
    <div class="text-center">
          <h1 class="mb-3">About</h1>
          <p>ながのCAKEは全国配送可能なケーキ屋さんです。<br />
          お子様からお年寄りの方までお召し上がりいただけるよう、<br />
          様々なバリエーションをご用意しております。<br />
          また、全国配送可能ですので<strong>「いつ」</strong>でも<strong>「どこ」</strong>でもご注文いただけます。<br />
          ぜひご注文ください。
          </p>
    </div>
</div>
<div class="container">
  <div class="row">
    <div class="col text-center">
    <%= image_tag '背景③.jpg', size: '300x200'%>
    <%= image_tag '（ケーキ）アップルパイ.jpg', size: '300x200'%>
    <%= image_tag '（プリン）チョコレートプリン.jpg', size: '300x200'%>
    </div>
  </div>
</div>