<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center">
        <p><span>ようこそ、ながのCAKEへ！</span> <br />
        このサイトは、ケーキ販売のECサイトになります。<br />
        会員でない方も商品の閲覧はできますが、<br />
        購入には会員登録が必要になります。
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container new-item">
  <h2>新着商品</h2>
  <div class="row">
    <% @products.first(4).each do |product| %>
    <div class="card">
      <div class="image">
        <!--画像-->
      </div>
      <div class="card-body">
        <p><%= product.product_name %></p>
        <p><%= product.tax_excluded_price %>円（税抜き）</p>
      </div>
    <% end %>
    </div>
  </div>
  <div class="container text-light">
  <%= link_to "全ての商品をみる", products_path %>
  </div>
</div>

