<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center">
        <p><span>ようこそ、ながのCAKEへ！</span> <br />
        このサイトは、ケーキ販売のECサイトになります。<br />
        会員でない方も商品の閲覧はできますが、<br />
        購入には会員登録が必要になります。
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h2>新着商品</h2>
  <div class="row">
    <% @products.first(4).each do |product| %>
    <div class="row row-cols-4 row-cols-md-1">
      <div class="card-deck" style="width:18rem">
        <div class="card">
          <div class="image">
        <!--画像-->
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= product.product_name %></h5>
            <p class="card-text"><%= product.tax_excluded_price %>円（税抜き）</p>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <div class="container text-right">
    <button type="button" class="btn btn-link"><%= link_to "全ての商品をみる", products_path %></button>
  </div>
</div>

