<div class="container">
    <h4 class="mt-2 p-2 text-center bg-secondary text-white col-md-3">会員一覧</h4>

  <table class="table table-bordered">
    <thead class="thead-light">
      <tr>
        <th>会員ID</th>
        <th>氏名</th>
        <th>メールアドレス</th>
        <th>ステータス</th>
      </tr>
    </thead>
      <tbody>
        <% @customers.each do |customer| %>
        <tr>
          <td><%= customer.id %></td>
			    <td><%= link_to customer.full_name, admin_customer_path(customer.id) %></td>
			    <td><%= customer.email %></td>
			    <td><% if customer.customer_status == true %>
              <p class="text-success font-weight-bold">有効</p>
              <% else %>
              <p class="text-secondary font-weight-bold">退会</p>
              <% end %>
		    </tr>
        <% end %>
      </tbody>
  </table>
  <%= paginate @customers %>
</div>