<div class="container">
    <div class="row">
        <div class="col">
            <h1>注文履歴詳細</h1>
            
            <table class="table">
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>購入者</td>
                    <td></td>
                </tr>
                <tr>
                    <td>注文日</td>
                    <td></td>
                </tr>
                <tr>
                    <td>配送先</td>
                    <td></td>
                </tr>
                <tr>
                    <td>支払方法</td>
                    <td></td>
                </tr>
                <tr>
                    <td>注文ステータス</td>
                    <td>
                        <%= form_with model: @order, url: admin_order_path, method: :patch, local: true do |f| %>
                        <%= f.select :order_status, Order.order_statuses.keys, class: "order_status" %>
                        <%= f.submit "更新" , class: "btn btn-outline-success" %>
                        <% end %>
                    </td>
                </tr>
            </table>
    </div>
</div>

