<div class="container">
  <div class="row mt-4">
    <div class="mt-2 p-2 text-center bg-secondary text-white col-3">
      <h4>ジャンル編集</h4>
    </div>
  </div>

  <div class="row mt-5">
     <%= render "public/shared/error_messages", resource: @genre %>
  </div>
    <div class="edit-genre-form">
      <%= form_with model: @genre, url: admin_genre_path(@genre.id), method: :patch do |f| %>
        <lavel>ジャンル名</lavel>
        <%= f.text_field :genre_name %>
        <%= f.submit '変更を保存', class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>