<div class="container">
  <div class="row">
    <h3>注文情報確認</h3><br>

    <%= form_with model: @order, url: orders_path, local:true do |f| %>

    <table class="table table-hover table-inverse">
      <thead>
        <tr>
          <th>商品名</th>
          <th>単価（税込）</th>
          <th>数量</th>
          <th>小計</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%#= @order.product.product_name %></td>
          <td><%#= @order.product.tax_included_price.to_s(:delimited) %></td>
          <td><%#= @order.cart.quantity %></td>
          <td><%#= @order.cart.subtotal %></td>
        </tr>
      </tbody>
    </table>
    <table class="table table-hover table-inverse">
      <thead>
        <tr>
          <th>送料</th>
          <th>商品合計</th>
          <th>請求金額</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%#= @order.shipping_fee %></td>
          <td><%#= @order.cart_product.subtotal %></td>
          <td><%#= @order.billing_amount %></td>
        </tr>
      </tbody>
    </table>

      <h4>支払方法</h4>
      <%= @order.payment_method_i18n %><br>

      <h4>お届け先</h4>
      <%= @order.address %><br>

      <div class="btn-wrapper col-10 mx-auto">
        <%= f.submit "注文を確定する", class: "btn btn-info create" %>
      </div>
    <% end %>

  </div>
</div>