<footer class="border-top">
  <div class='container mt-5'>
    <div class='row'>
      <div class='mx-auto'>
        <div class="d-flex align-items-center justify-content-center"><%= image_tag '①ロゴ（英字・ケーキのイラスト）.png', size: '180x50'%></div>
        <div class="row">
          <div class="col">
            <!--<div class="text-monospace h4 d-flex align-items-center justify-content-center">ながのCAKE</div>-->
            <span>〒〇〇〇―〇〇〇〇</span>
            <span>長野県××市××1-23-4</span>
            <p class="text-center">TEL 012-345-6789</p>
          </div>
          <div class="col-xs-2">
            <%= link_to "https://www.instagram.com/" , target: :_blank, rel: "noopener noreferrer" do %>
            <i class="fab fa-instagram fa-3x text-danger"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

