<footer>
  <div class='container mt-5'>
  	<div class='row'>
    	<div class='mx-auto'>
    	  <i class="fas fa-brands fa-instagram"></i>

    		<p>ながのCAKE</p>
    		<span>〒〇〇〇―〇〇〇〇</span>
    		<span>長野県××市××1-23-4</span>
    		<p>TEL 012-345-6789</p>
    	</div>
    </div>
  </div>
</footer>