<footer>
  <div class='container mt-5'>
    <div class='row'>
      <div class='mx-auto'>
        <div class="d-flex align-items-center justify-content-center"><%= image_tag '①ロゴ（英字・ケーキのイラスト）.png', size: '180x50'%></div>
        <div class="row">
          <div class="col-1">
            <br>
            <i class="fab fa-instagram mr-3"></i>
          </div>
          <div class="col">
            <span>〒〇〇〇―〇〇〇〇</span>
            <span>長野県××市××1-23-4</span>
            <p>TEL 012-345-6789</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>