<footer>
  <div class='container mt-5'>
    <div class='mx-auto'>
      <div class="row text-center">
        <div class="col">
          <p class="h5 d-flex align-items-center justify-content-center"><i class="fab fa-instagram"></i>&nbsp;ながのCAKE</p>
          <font size="2">〒〇〇〇-〇〇〇〇  長野県××市××1-23-4</br>
               TEL 012-345-6789</p>
        </div>
      </div>
    </div>
  </div>
</footer>

